:root {
    --theme-color:#A51442;
    --theme-color-dark: #0D1042;
}

.text-color {
    color: var(--theme-color);
}

.grayscale {
   filter: contrast(40%);
}

.rounded {
    border-radius: 50px;
}

.separator {
    border-bottom: 2.5px solid var(--theme-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.float-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aside-item-clicked {
    background-color: var(--theme-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
    background-color: white;
}

.navbar-item:hover,
.navbar-link:hover {
    color: var(--theme-color) !important;
}

.has-background {
    background-color: var(--theme-color) !important;
}

.input {
    transition: all 0.30s ease-in-out;
}

.input:focus, select:focus {
    box-shadow: 0 0 0.7em var(--theme-color) !important;
    border: 1px solid var(--theme-color) !important;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.game-hover {
    background: linear-gradient(
        -83deg,
        var(--theme-color),
        var(--theme-color-dark)
    ) !important;
}

.hero-body a,
.game-hover a {
    background-color: transparent;
    position: static;
}

.content > * {
    width: 100%;
    margin: 0 !important; /* not recommended */
}

.content.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* commenting this out, the multiple lines will have gaps */
    align-items: center; /* commenting this out, the one-line will not align */
}
